body {
    overflow: hidden
    display: flex;
    flex-direction: row;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-color: #2E3988;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center top;
}
div {
    height: 100vh;
    padding: 1%;
}
h1 {
    font-size: 8rem;
    line-height: 1;
    font-weight: 700;
}
p {
        font-size: 3.75rem/* 60px */;
        line-height: 1;        font-size: 3.75rem/* 60px */;
        line-height: 1;
}
#main {
    overflow: hidden;
    height: 400vh;
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
}
#home {
display: grid;
place-items: center;
scroll-snap-align: start
;
}
#about {
    scroll-snap-align: center;
}
#ss {
    scroll-snap-align: center;
}
#wa {
    display: grid;
    place-items: center;
    color: white;
    scroll-snap-align: center;
}
#p {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: 600;
    padding-top: -0px;
}
.judul {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
#iddiv{
    display: grid;
place-items: center;
}
#idimg {
    margin-top: -400px;
    height: 75vh;
}
#nopal {
    float: right;
    height: 100vh;
    position: relative;
    top: -200px;
}
a {
    color: white;

}